@model ASPNETCourse.Models.QuestionToCheck

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Question To Check</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Description))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Answer)
        </dt>

        <dd>
            @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.Answer))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
