@using ASPNETCourse.Models
@{
    ViewBag.Title = "Past Exam";
}

<h2>Your results of '@ViewBag.QuizName'</h2>
<hr />
<h4>Your final score is @ViewBag.Result</h4>
<h4>Started: @ViewBag.StartTime</h4>
<h4>Finished: @ViewBag.FinishTime</h4>
<h4>It took: @ViewBag.TimeSpan</h4>
<br/>
<div onmousedown=" return false; " onselectstart="return false;" onselect=" return false; " oncut="return false;" id="bodyDiv">
    <dl class="dl-horizontal">

        @foreach (Answer item in ViewBag.Answers)
        {
            <dt>
                Question description:
            </dt>
            <dd>
                @Html.Raw(System.Web.HttpUtility.HtmlDecode(item.Question.Description))
            </dd>

            <dt>
                Your answer(s):
            </dt>
            <dd>
                <ul>
                    @{
                        var answersList = new List<string>();
                        var answersString = item.Question.Answers;
                        int counter = 0;
                        while (!String.IsNullOrEmpty(answersString))
                        {
                            answersString = answersString.Trim();
                            answersList.Add(answersString.Substring(0, answersString.IndexOf(';')));
                            counter++;
                            answersString = answersString.IndexOf(';') < answersString.Length + 1
                                ? answersString.Substring(answersString.IndexOf(';') + 1,
                                    answersString.Length - answersString.IndexOf(';') - 1)
                                : "";
                        }
                        foreach (var answer in answersList)
                        {
                            <li>@answer</li>
                        }

                    }
                </ul>
            </dd>

            <dt>@*Correctness:*@</dt>
            <dd>
                @if (item.Correctness)
                {
                    <div class="btn btn-info">Correct</div>
                }
                else
                {
                    <div class="btn btn-warning">Incorrect</div>
                }
            </dd>
            <hr/>
        }
    </dl>
</div>

<p>
    @Html.ActionLink("Back to index", "ExamIndex")
</p>
<style>
    .bodyDiv {
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -o-user-select: none;
        user-select: none;
    }
</style>